.cert-section {
  padding: 120px 8%;
}

.cert-section h2 {
  font-size: 4rem;
  margin-bottom: 50px;
}

.cert-section span {
  color: #b77cff;
}

.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.cert-card {
  padding: 30px;
  border-radius: 24px;
  background: rgba(20, 20, 35, 0.6);
  border: 1px solid rgba(190, 120, 255, 0.2);
  backdrop-filter: blur(12px);
  transition: 0.3s ease;
}

.cert-card:hover {
  transform: translateY(-8px);
  border-color: #b77cff;
}
.cert-image {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 20px;
}
.cert-card h3 {
  color: white;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.cert-card p {
  color: #cfcfcf;
  line-height: 1.6;
}